.search-form {
  position: relative;
  background-color: #f8f8f8;
  display: block;
  margin: 2rem auto 1.5rem;
  padding: 2rem 6rem;
  border-radius: 1rem;
  width: 72rem;
  box-shadow: 0 0.75rem 2rem rgba($color-black, 0.2);
  z-index: 5;

  @include respond(phone-land) {
    width: 98vw;
    padding: 1rem 3rem;
  }

  //may need to be removed
  &__basic-search-inputs {
    width: 64rem;
    margin: 0 auto;

    @include respond(phone-land) {
      width: 100%;
    }
  }

  &__keyword-container {
    display: flex;
  }

  &__keyword-input {
    width: 25%; //overrides default input width
    flex: auto;
    margin-bottom: 0;
    vertical-align: middle;
    margin-right: 0.5rem;
  }
}
