.dropdown {
  position: absolute;

  display: flex;
  flex-direction: column;
  font-weight: 500;
  z-index: 50;
  cursor: pointer;

  @include respond(tab-port) {
    display: none;
  }

  &--container {
    display: inline-block;
  }

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  &__parent {
    font-size: 1.6rem;
  }

  &__link {
    display: none;
    font-size: 1.4rem;
    padding-left: 0.5rem;
  }

  &:hover &__link,
  &:active &__link,
  &:focus &__link {
    display: inline-block;
  }
}
