.navlink-list {

  &__container{
    list-style: none;
  }

  &__item {
    display: inline-block;
    padding: 0 2rem;       

    @include respond(phone-land) {
        padding: 0 1rem; 
    }       

    @include respond(phone-port) {    
        display: block;
        text-align: center;
    }
  }

  &__link {
    transition: all .3s ease 0s;
    text-decoration: none;

    &:link,
    &:visited {
        color: #000;
    }

    &:hover {
        color: #0088a9;
    }
  }

}