.section-navigation {    
	margin: 2rem 0 0;
}

.section-search-form {
	margin: 2rem 0  1.5rem;
}

.section-search-results {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 1rem;
    background-color: #F8F8F8;
    border-radius: 1rem;    
	box-shadow: 0 .75rem 2rem rgba($color-black, .2);       //add mix-in?
}

.page-buttons-bottom{
    margin-bottom: 1rem;
    position: relative;
}