.btn {

	font-size: 1.4rem;
	padding: .9rem 2.5rem;
	color: #fff;
	background-color: #000;
	border: none;
	border-radius: 5rem;
	cursor: pointer;
	transition: all .2s ease 0s;
	text-decoration: none;
	vertical-align: middle;
	// box-shadow: 0 1rem 2rem rgba($color-black, .2);	

	&:hover {
		transform: translateY(-.2rem);
		box-shadow: 0 1rem 2rem rgba($color-black, .2);  /* subtle shadow with .2 opacity */ 
	}

	&:active {
		outline: none;
		transform: translateY(-.1rem);
		box-shadow: 0 .5rem 1rem rgba($color-black, .2);  /* smaller shadow to make it look pushed down */
    }

	&__page-btn {
		padding: 0;
		width: 3.6rem;
		height: 3.6rem;
		line-height: 0;
		vertical-align: middle;

		&:last-child, &:first-child {
			width: auto;
			padding: .9rem 2rem;
		}

		&:not(:last-child){
			margin-right: .6rem;

			@include respond(phone-port) {
				margin-right: .4rem;
			}     
		}

		@include respond(phone-port) {
			width: 3.1rem;
			height: 3.1rem;
			font-size: 1.3rem;
		}       

	}

	&__increment-btn {		//next / previous page buttons

		@include respond(phone-land) {
			display: none;
		}       
	}

	/*page buttons that are selected and disabled */
	&:disabled,
	&[disabled]{
		color: #21a9ca;;
	}
	
	&:hover {
		color: #21a9ca;
	}

}

.btn-text {
	transition: all .3s ease 0s;
	text-decoration: none;

	&:link,
	&:visited {
		color: #000;
	}

	&:hover {
		color: #0088a9;
	}

	&__down-arrow {
		transition: border-color .3s ease 0s;
		text-decoration: none;
		border: solid #000;
		border-width: 0 1.5px 1.5px 0;
	}
	
	&__up-arrow {
		transition: border-color .3s ease 0s;
		text-decoration: none;
		border: solid black; 
		border-width: 1.5px 0 0 1.5px;		
	}

	&:hover > &__down-arrow {						
		border: solid #0088a9;
		border-width: 0 1.5px 1.5px 0;
	}

	&:hover > &__up-arrow {						
		border: solid #0088a9;
		border-width: 1.5px 0 0 1.5px;
	}

	&__advanced-search {
		font-weight: bold;
		position: absolute;
		transform: translateY(-1.8rem);
	}
} 

.btn-magnify {
	height: 2rem;
	width: 2rem;
	cursor: pointer;
	margin-top: -1rem;
}

  
/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 1.75px;
	font-weight: bold;
}
  
.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
} 
// /* Andvanced search form properties */
// .hintLink{  
// 	background: none!important;
// 	border: none;
// 	padding: 0!important;
// 	/*optional*/
// 	font-family: arial, sans-serif;
// 	font-size:1em;
// 	/*input has OS specific font-family*/
// 	color: #069;
// 	text-decoration: underline;
// 	cursor: pointer;
// }