.form {

  &__input { 
    font-size: 1.4rem;
    font-family: inherit;       //inputs do not inherit font family by default
    color: inherit;    
    border-radius: .2rem;
    background-color: rgba($color-white, .5);
    padding: .5rem 1rem; 
    border-color: white;
    
    &:focus {
      outline: none;
      box-shadow: 0 1rem 1.5rem rgba($color-black, .1);
      // border-bottom: 3px solid $color-primary;
    }    

    &::-webkit-input-placeholder {      //double colon is pseudo-element
      color: $color-grey-dark-2;
    }

    &--keyword {
      width: 50rem;
      margin-bottom: 0;
      vertical-align: middle;
      margin-right: .5rem;

      @include respond(phone-land) {
        width: 25%;   //this is just to reset the property so that it will fill element
        flex-grow: 1;
      }

    }

    &--short {
      width: 14.32rem;      

      @include respond(phone-land) { 
        width: 23.75rem;   
      }      

      @include respond(phone-port) { 
        width: 14.32rem;   
      }
    }

    &--long {
      width: 29.5rem;    

      @include respond(phone-land) { 
        width: 23.75rem;   
      }      

      @include respond(phone-port) { 
        width: 29.5rem;   
      }
    }

    &--extra-long {
      width: 72rem;

      @include respond(tab-port) { 
        width: 56rem;   
      }      
    }
  }

  &__select {
    font-size: 1.4rem;
    font-family: inherit;       //inputs do not inherit font family by default
    color: inherit;    
    border-radius: .2rem;
    background-color: rgba($color-white, .5);
    padding: .5rem .6rem;   
  }

  &__textarea {
    font-size: 1.4rem;
    font-family: inherit;       //inputs do not inherit font family by default
    color: inherit;    
    border-radius: .2rem;
    background-color: rgba($color-white, .5);
    padding: .5rem 1rem; 
    border-color: white;
    width: 72rem;
    height: 10rem;
    resize: none;
    
    font-size: 1.4rem;
    font-family: inherit;       //inputs do not inherit font family by default
    color: inherit;    
    border-radius: .2rem;
    background-color: rgba($color-white, .5);
    padding: .5rem 1rem; 
    border-color: white;

    &:not(:last-child) {
      margin-bottom: .75rem;
    }    

    @include respond(tab-port) { 
      width: 56rem;   
    }      

    @include respond(phone-land) { 
      width: 100%;      
    }
  }

  &__label {
    font-size: 1.2rem;
    display:inline-block;
    width: 10rem;
    font-weight:bold;

    &--keyword {
      vertical-align: middle;
      width: 7rem;
    }

    &--modal {
      font-size: 1.25rem;
    }

    &--textarea {      
      vertical-align: top;
      font-size: 1.25rem;
    }
  }  

  &__checkbox-section {
    display: inline-block;
    width: 58rem;

    @include respond(phone-land) {
        width: 90%;
    }
  }

  &__checkbox-group {
    display: inline-block;
  }

  &__group{
    &--basic-search {
      width: 64rem;
      margin: 0 auto;

      @include respond(phone-land) {
        width: 100%;   
      }
    }  

    &--keyword {
      @include respond(phone-land) {
        display: flex;
      }
    }
  }

  &__radio-button, &__checkbox {
    vertical-align: text-bottom;
    width: 1.5rem;
  }

}
