.page-select {
    
    &__btn {
        
    }

    &__top {
        text-align: center;
        margin-bottom: .75rem;
    }

    &__bottom {
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
    }
}