@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.navigation {
    display: flex;
    width: 100%;
    height: 7rem;
    padding: .5rem 5%;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: #FFF;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    z-index: 100;

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;
        padding: 0 2rem;       

        @include respond(phone-land) {
            padding: 0 1rem; 
        }       

        @include respond(phone-port) {    
            display: block;
            text-align: center;
        }
    }

    &__link {
        transition: all .3s ease 0s;
        text-decoration: none;

        &:link,
        &:visited {
            color: #000;
        }

        &:hover {
            color: #0088a9;
        }
    }

    &__button {
        font-size: 1.6rem;
    }

    &__logo {
        cursor: pointer;
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
    }
    
}