.search-properties {
    // display: flex; this is added within JS code
    width: 100%;
    padding: 0 1%;
    justify-content: space-between;
    align-items: end;

    @include respond(phone-port) {
        padding: 0 .5%;
    }     
}