/*
0-600px:        Phone
600 -- 900px:   Tablet Portrait
900 -- 1200px:  Tablet Landscape
[1200 - 1800]:  Default styles apply
1800px+:        Big desktop
*/
/*
$breakpoint argument choices
-phone
-tab-port
-tab-land
-big-desktop

Order of creating media queries: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* makes it so all elements will inherit this property */ }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #FFF;
  padding: 7rem .5rem 0; }

body {
  font-family: Arial, Helvetica, Verdana, "Bitstream Vera Sans", SunSans-Regular, sans-serif;
  font-size: 1.2rem; }

.heading-primary {
  font-size: 2.1rem;
  margin-bottom: 0.5em;
  color: #195383; }

.u-center-text {
  text-align: center !important; }

.u-text-top {
  vertical-align: top !important; }

.u-margin-bottom-tiny {
  margin-bottom: .5rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }

.u-margin-top-tiny {
  margin-top: .5rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-large {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-left-tiny {
  margin-left: .5rem !important; }

.u-margin-left-small {
  margin-left: 2rem !important; }

.u-margin-left-medium {
  margin-left: 4rem !important; }

.u-margin-left-large {
  margin-left: 8rem !important; }

.u-margin-left-huge {
  margin-left: 35rem !important; }

.u-margin-right-tiny {
  margin-right: .5rem !important; }

.u-margin-right-small {
  margin-right: 2rem !important; }

.u-margin-right-medium {
  margin-right: 4rem !important; }

.u-margin-right-large {
  margin-right: 8rem !important; }

.u-retain-indentation {
  white-space: pre-wrap; }

.u-inline-block {
  display: inline-block !important; }

.u-text-medium {
  font-size: 1.6rem; }

.u-text-bold {
  font-weight: 700 !important; }

.down-arrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  padding: 2px 3px 4px 3px;
  margin-bottom: .15em;
  margin-left: .5em;
  border: solid black;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  cursor: pointer; }
  .down-arrow--black {
    border: solid black;
    border-width: 0 1.5px 1.5px 0; }

.up-arrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  padding: 2px 3px 4px 3px;
  margin-bottom: -.1em;
  margin-left: .5em;
  border: solid black;
  border-width: 1.5px 0 0 1.5px;
  display: inline-block;
  cursor: pointer; }
  .up-arrow--blue {
    border: solid #0202cc;
    border-width: 1.5px 0 0 1.5px; }
  .up-arrow--black {
    border: solid black;
    border-width: 1.5px 0 0 1.5px; }

.advanced-inputs__row {
  width: 100%; }
  @media only screen and (max-width: 28.125em) {
    .advanced-inputs__row {
      width: 30rem; } }

.advanced-inputs__row:not(:last-child) {
  margin-bottom: 0.75rem; }

.advanced-inputs__group {
  display: inline-block;
  position: relative; }

.advanced-inputs__group:not(:last-child) {
  margin-right: 0.5rem; }

.advanced-inputs__select {
  display: block; }

.advanced-inputs__input {
  display: block; }

.advanced-inputs__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 1rem;
  margin-top: 0.1rem;
  display: block;
  transition: all 0.4s; }

.advanced-inputs__input:placeholder-shown + .advanced-inputs__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2.5rem); }

.advanced-inputs__pitches-only {
  font-size: 1.2rem;
  font-weight: 700;
  z-index: 50;
  position: absolute;
  right: 0.5rem;
  top: 2.95rem; }

.btn {
  font-size: 1.4rem;
  padding: 0.9rem 2.5rem;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  text-decoration: none;
  vertical-align: middle;
  /*page buttons that are selected and disabled */ }
  .btn--big {
    font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    /* subtle shadow with .2 opacity */ }
  .btn:active {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    /* smaller shadow to make it look pushed down */ }
  .btn__page-btn {
    padding: 0;
    width: 3.6rem;
    height: 3.6rem;
    line-height: 0;
    vertical-align: middle; }
    .btn__page-btn:last-child, .btn__page-btn:first-child {
      width: auto;
      padding: 0.9rem 2rem; }
    .btn__page-btn:not(:last-child) {
      margin-right: 0.6rem; }
      @media only screen and (max-width: 28.125em) {
        .btn__page-btn:not(:last-child) {
          margin-right: 0.4rem; } }
    @media only screen and (max-width: 28.125em) {
      .btn__page-btn {
        width: 3.1rem;
        height: 3.1rem;
        font-size: 1.3rem; } }
  @media only screen and (max-width: 37.5em) {
    .btn__increment-btn {
      display: none; } }
  .btn:disabled, .btn[disabled] {
    color: #21a9ca; }
  .btn:hover {
    color: #21a9ca; }

.btn-text {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  cursor: pointer;
  user-select: none; }
  .btn-text:link, .btn-text:visited {
    color: #000; }
  .btn-text:hover {
    color: #0088a9; }
  .btn-text__down-arrow {
    transition: border-color 0.3s ease 0s;
    text-decoration: none;
    border: solid #000;
    border-width: 0 1.5px 1.5px 0; }
  .btn-text__up-arrow {
    transition: border-color 0.3s ease 0s;
    text-decoration: none;
    border: solid black;
    border-width: 1.5px 0 0 1.5px; }
  .btn-text:hover > .btn-text__down-arrow {
    border: solid #0088a9;
    border-width: 0 1.5px 1.5px 0; }
  .btn-text:hover > .btn-text__up-arrow {
    border: solid #0088a9;
    border-width: 1.5px 0 0 1.5px; }
  .btn-text__advanced-inputs {
    font-weight: bold;
    position: absolute;
    transform: translateY(-1.8rem); }

.btn-magnify {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  margin-top: -1rem; }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 1.75px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

.form__input {
  font-size: 1.4rem;
  font-family: inherit;
  color: inherit;
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem 1rem;
  border-color: white; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1); }
  .form__input::-webkit-input-placeholder {
    color: #999; }
  .form__input--short {
    width: 14.32rem; }
    @media only screen and (max-width: 37.5em) {
      .form__input--short {
        width: 23.75rem; } }
    @media only screen and (max-width: 28.125em) {
      .form__input--short {
        width: 14.32rem; } }
  .form__input--long {
    width: 29.5rem; }
    @media only screen and (max-width: 37.5em) {
      .form__input--long {
        width: 23.75rem; } }
    @media only screen and (max-width: 28.125em) {
      .form__input--long {
        width: 29.5rem; } }
  .form__input--extra-long {
    width: 72rem; }
    @media only screen and (max-width: 56.25em) {
      .form__input--extra-long {
        width: 56rem; } }

.form__select {
  font-size: 1.4rem;
  font-family: inherit;
  color: inherit;
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem 0.6rem; }

.form__textarea {
  font-size: 1.4rem;
  font-family: inherit;
  color: inherit;
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem 1rem;
  border-color: white;
  width: 72rem;
  height: 10rem;
  resize: none;
  font-size: 1.4rem;
  font-family: inherit;
  color: inherit;
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem 1rem;
  border-color: white; }
  .form__textarea:not(:last-child) {
    margin-bottom: 0.75rem; }
  @media only screen and (max-width: 56.25em) {
    .form__textarea {
      width: 56rem; } }
  @media only screen and (max-width: 37.5em) {
    .form__textarea {
      width: 100%; } }

.form__label {
  font-size: 1.2rem;
  display: inline-block;
  width: 10rem;
  font-weight: bold; }
  .form__label--keyword {
    vertical-align: middle;
    width: 7rem; }
  .form__label--modal {
    font-size: 1.25rem; }
  .form__label--textarea {
    vertical-align: top;
    font-size: 1.25rem; }

@media only screen and (max-width: 37.5em) {
  .form__group--keyword {
    display: flex; } }

.page-select__top {
  text-align: center;
  margin-bottom: .75rem; }

.page-select__bottom {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center; }

.results-per-page {
  font-size: 1.4rem; }
  @media only screen and (max-width: 28.125em) {
    .results-per-page {
      font-size: 1.35rem; } }

.results-message {
  font-weight: 700; }
  @media only screen and (max-width: 28.125em) {
    .results-message {
      font-size: 1.1rem; } }

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg); }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg); } }

.spinner__container {
  height: 5rem; }

.spinner__animation {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #9F9F9C;
  border-radius: 50%;
  content: "";
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
  line-height: 5rem; }
  .spinner__animation--mini {
    position: relative;
    border: solid 3px #cfd0d1;
    border-bottom-color: #9F9F9C;
    height: 2rem;
    width: 2rem; }

.basic-inputs {
  display: flex; }
  .basic-inputs__checkboxes-label {
    font-weight: 700; }
  .basic-inputs__checkbox-group {
    display: inline-block;
    flex: 1 1 0px; }
  .basic-inputs__checkbox {
    margin-right: 0.3rem;
    vertical-align: text-bottom;
    width: 1.5rem; }
  .basic-inputs__label {
    margin-right: 0.4rem; }

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  z-index: 50; }
  @media only screen and (max-width: 56.25em) {
    .dropdown {
      display: none; } }
  .dropdown--container {
    display: inline-block; }
  .dropdown:not(:last-child) {
    margin-bottom: .5rem; }
  .dropdown--parent {
    font-size: 1.6rem; }
  .dropdown--content {
    display: none;
    font-size: 1.4rem;
    padding-left: .5rem; }
  .dropdown:hover .dropdown--content,
  .dropdown:active .dropdown--content,
  .dropdown:focus .dropdown--content {
    display: inline-block; }

.navlink-list__container {
  list-style: none; }

.navlink-list__item {
  display: inline-block;
  padding: 0 2rem; }
  @media only screen and (max-width: 37.5em) {
    .navlink-list__item {
      padding: 0 1rem; } }
  @media only screen and (max-width: 28.125em) {
    .navlink-list__item {
      display: block;
      text-align: center; } }

.navlink-list__link {
  transition: all .3s ease 0s;
  text-decoration: none; }
  .navlink-list__link:link, .navlink-list__link:visited {
    color: #000; }
  .navlink-list__link:hover {
    color: #0088a9; }

.table-select__radio-btn {
  vertical-align: text-bottom;
  width: 1.5rem;
  margin-right: 0.2rem;
  padding: 1rem; }

.table-select__radio-label {
  font-weight: 700; }
  .table-select__radio-label:not(:last-child) {
    margin-right: 0.4rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem ) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem ) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc( (100% - (6rem * 3) ) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (6rem * 3) ) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - (6rem * 3) ) / 4) + 2 * 6rem); }

.table {
  font-size: 1.1rem;
  white-space: pre-line;
  width: 100%;
  min-width: 150rem;
  border-collapse: collapse;
  border-top: .1px solid black;
  word-break: break-word;
  border-bottom: 0.5px solid #dbdbdb; }
  .table--single-view {
    min-width: 0;
    width: 100%;
    border-top: 1px solid #dbdbdb; }
  .table__header {
    text-align: left;
    border-bottom: .1px solid black;
    height: 2em; }
  .table__data {
    position: relative;
    vertical-align: top;
    padding: .25em;
    border-left: 1px solid #dbdbdb; }
    .table__data:nth-child(1) {
      border-left: none; }
  .table__row:nth-child(even) {
    background-color: #EBEBEB; }
  .table__entry-cell--is-secular {
    text-align: center;
    vertical-align: middle; }
  .table__entry-column--expand {
    width: 1.5%; }
  .table__entry-column--collection {
    width: 10%; }
  .table__entry-column--source-number {
    width: 4%; }
  .table__entry-column--location {
    width: 8%; }
  .tableentry-column--title {
    width: 8%; }
  .table__entry-column--composer {
    width: 8%; }
  .table__entry-column--vocal-part {
    width: 9%; }
  .table__entry-column--key {
    width: 6%; }
  .table__entry-column--melodic-incipit {
    width: 14.75%; }
  .table__entry-column--text-incipit {
    width: 14.75%; }
  .table__entry-column--is-secular {
    width: 5%; }
  .table__entry-column--notes {
    width: 11%; }
  .table__source-column--expand {
    width: 1.5%; }
  .table__source-column--collection {
    width: 9%; }
  .table__source-column--source-number {
    width: 4%; }
  .table__source-column--call-number {
    width: 8.5%; }
  .table__source-column--author {
    width: 8.5%; }
  .table__source-column--title {
    width: 9%; }
  .table__source-column--inscriptions {
    width: 29.5%; }
  .table__source-column--description {
    width: 30%; }
  .table__collection-column--expand {
    width: 1.5%; }
  .table__collection-column--collection {
    width: 10%; }
  .table__collection-column--description {
    width: 88.5%; }
  .table__single-view-column--label {
    width: 12%; }
  .table__single-view-column--data {
    width: 88%; }

.navigation {
  display: flex;
  width: 100%;
  height: 7.5rem;
  padding: .5rem 5%;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #FFF;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  z-index: 100; }
  .navigation__logo {
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  padding-top: 4.25em;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }
  .modal__content {
    background-color: #F8F8F8;
    border-radius: 1rem;
    margin: 3% auto;
    padding: 1.25em;
    width: 86rem; }
    @media only screen and (max-width: 56.25em) {
      .modal__content {
        width: 70rem;
        margin: 5% auto; } }
    @media only screen and (max-width: 37.5em) {
      .modal__content {
        width: 95%;
        margin: 7% auto; } }
    @media only screen and (max-width: 28.125em) {
      .modal__content {
        width: 95%;
        margin: 10% auto; } }
  .modal__input:not(:last-child) {
    margin-bottom: .75rem; }
  .modal__input:disabled, .modal__input[disabled] {
    background-color: grey; }

.search-form {
  position: relative;
  background-color: #f8f8f8;
  display: block;
  margin: 2rem auto 1.5rem;
  padding: 2rem 6rem;
  border-radius: 1rem;
  width: 72rem;
  box-shadow: 0 0.75rem 2rem rgba(0, 0, 0, 0.2);
  z-index: 5; }
  @media only screen and (max-width: 37.5em) {
    .search-form {
      width: 98vw;
      padding: 1rem 3rem; } }
  .search-form__basic-search-inputs {
    width: 64rem;
    margin: 0 auto; }
    @media only screen and (max-width: 37.5em) {
      .search-form__basic-search-inputs {
        width: 100%; } }
  .search-form__keyword-container {
    display: flex; }
  .search-form__keyword-input {
    width: 25%;
    flex: auto;
    margin-bottom: 0;
    vertical-align: middle;
    margin-right: 0.5rem; }

.search-properties {
  width: 100%;
  padding: 0 1%;
  justify-content: space-between;
  align-items: end; }
  @media only screen and (max-width: 28.125em) {
    .search-properties {
      padding: 0 .5%; } }

.edit-form__btn-group {
  margin: 1rem 0;
  text-align: center; }

.edit-form__btn:not(:last-child) {
  margin-right: 2rem; }

.login-form {
  position: relative;
  background-color: #F8F8F8;
  display: block;
  margin: 0 auto;
  padding: 2rem 6rem;
  border-radius: 1rem;
  width: 40rem;
  box-shadow: 0 0.75rem 2rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 37.5em) {
    .login-form {
      padding: 1rem 3rem; } }

.section-navigation {
  margin: 2rem 0 0; }

.section-search-form {
  margin: 2rem 0  1.5rem; }

.section-search-results {
  position: relative;
  margin-top: 3rem;
  margin-bottom: 1rem;
  background-color: #F8F8F8;
  border-radius: 1rem;
  box-shadow: 0 0.75rem 2rem rgba(0, 0, 0, 0.2); }

.page-buttons-bottom {
  margin-bottom: 1rem;
  position: relative; }

.view-data-buttons {
  padding: 2rem;
  text-align: center; }

.section-single-view {
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
  background-color: #F8F8F8;
  border-radius: 1rem;
  box-shadow: 0 0.75rem 2rem rgba(0, 0, 0, 0.2);
  width: 65rem; }
